.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
  color: white;
  box-sizing: border-box;
  border-bottom: 1px solid darkseagreen;
}
.logo {
  padding: 0px 40px;
  margin: 0px;
}
.friendList {
  width: 250px;
  position: fixed;
  overflow-y: auto;
  top: 60px;
  bottom: 0px;
  left: 0px;
  padding: 20px 0px 0px;
  background: #282c34;
}
.friend {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.friendList .friend:first-of-type {
  border-top: 1px solid #ccc;
}
.friend.active {
  background: #60787a;
}
.friend:hover .friend-data {
  transform: translateX(10px);
}
.friend.active:hover .friend-data {
  transform: translateX(0px);
}
.friend img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.friend .friend-data {
  text-align: left;
  margin: 0px !important;
  padding-left: 10px;
  color: white;
  transition: all 0.4s ease-in;
}
.friend.active .friend-data {
  color: wheat;
}
.searchBox {
  width: 90%;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 16px;
  outline: none !important;
  border-radius: 25px;
  margin-bottom: 20px;
}
.chatContainer {
  margin: 0px 0px 0px 250px;
  box-sizing: border-box;
  height: calc(100vh - 60px);
  position: relative;
}
.chatContainer h1 {
  margin: 0px;
}
.currentChat {
  background: #60787a;
  animation: 500ms cubic-bezier(0.31, 0.62, 0.54, 1.18) 0.1s both slidedown;
}
.inputMessage {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background: #60787a;
  padding: 20px;
  bottom: 0;
  left: 0;
}
.inputMessage input {
  margin: 0px auto;
  width: 90%;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  background: white;
  outline: none !important;
}
.messages {
  margin: 0px 20%;
  height: calc(100vh - 200px);
  overflow: auto;
  padding: 10px 15px;
}
.message {
  text-align: right;
  padding: 5px 0px;
}
.message-body {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}
.message .message-body {
  background: #577291;
  color: white;
  animation: 500ms cubic-bezier(0.31, 0.62, 0.54, 1.18) 0.1s both slideup;
}
.message.mine {
  text-align: left;
}
.message.mine .message-body {
  background: #c5dbde;
  color: #282c34;
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.popover {
  width: 500px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid grey;
  padding: 20px;
  box-sizing: border-box;
  height: 250px;
}
.numberText {
  width: 200px;
  height: 40px;
  outline: none;
  font-size: 17px;
  padding: 10px;
  box-sizing: border-box;
}
.chatHeader {
  padding: 10px 0px;
  color: wheat;
}
.note {
  text-align: left;
}
.error {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fa0316;
  color: white;
  margin-top: 20px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
